@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color:#eafcca;
  color: #383e45;
  font-size: 0.9rem;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
	animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  background-color: #eafcca;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background-color:rgba(57, 182, 41, 0.8);
  font-weight: bold;
  z-index: 2;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li:hover{
  cursor: pointer;
	transform: scale(1.2);
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
mainPhoto
-------------------------------------------*/
#mainPhoto {
  margin-bottom: 80px;
}
#mainPhoto img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  z-index: 1;
}

/*-------------------------------------------
myProfile
-------------------------------------------*/
#myProfile .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myProfile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 30px;
}
#myProfile .text {
  text-align: left;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/*-------------------------------------------
Works
-------------------------------------------*/
#Works ul {
  display: flex;
  justify-content: space-between;
}
#Works li {
  width: 32%;
}

.scale-img {
  border-radius: 6px;
  transition-duration: .5s;
  }
  .scale-img:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
  }
  .c-btn {
    text-align: center;
    background: #45a704;
    border: 2px solid #45a704;
    border-radius: 60px;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 40px;
  }
  .c-btn:hover {
    background: #fff;
    color: #45a704;
  }

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

  /*-------------------------------------------
  mainPhoto
  -------------------------------------------*/
  #mainPhoto img {
    height: calc(100vh - 100px);
  }

  /*-------------------------------------------
  myProfile
  -------------------------------------------*/
  #myProfile .content {
    flex-direction: column;
  }
  #myProfile img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #Works ul {
    flex-direction: column;
  }
  #Works li {
    width: 100%;
    margin-bottom: 30px;
  }
  /*-------------------------------------------
  c-btn
  -------------------------------------------*/
  #c-btn{
    width: 100%;
  }
}
